# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude Git files
.git
.github
.gitignore

# Exclude Python cache files
__pycache__/
.mypy_cache
.pytest_cache
.ruff_cache

# Exclude Python virtual environment
.venv/
/venv/

# Exclude local caches and generated Cog artifacts
.cache/
.cog/
cog.yaml
requirements-cog.txt

# Exclude local shared folder
shared/
*.mp4
